{% extends 'base.html' %}

{% block content %}

<h2 style="text-align: center; height: 50px;"> Create Product Type</h2>
    <div style="display: flex;justify-content: center;
     align-items: center; width: 100%;  height: max-content;  
      ">
     
        <div style="height: 150px;background-color: aqua; width: 40%;
        display: flex;justify-content: center;
        align-items: center;">
            <p>{{error}}</p>
    <form action="" method="post">
        {% csrf_token %}<br>
        <label for="name">Name</label>
        <input type="text" name="name" ><br>
        
        <label for="name">Description</label>
      <textarea name="desc" id=""></textarea><br>

      <input type="submit" >
    
      
    </form>

</div></div>


{% endblock %}