<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h2 style="text-align: center; height: 50px;">Update Product</h2>
    <div style="display: flex;justify-content: center;
     align-items: center; width: 100%;  height: max-content;  
      ">
        <div style="height: 150px;background-color: aqua; width: 40%;
        display: flex;justify-content: center;
        align-items: center;">
            
            <form action="" method="post">
                {% csrf_token %}
                <label for="">Product Name</label><br>
                <input type="text" name="name" placeholder="Product name" value="{{product.name}}"><br>
                <label for="">Product Price</label><br>
                <input type="number" name="price" placeholder="Product price" step="0.01"  value="{{product.price}}"><br>
                <br>
                <input type="submit" value="Update Product">

            </form>
        </div>
    </div>
</body>
</html>