{% extends 'base.html' %}
{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<div class="row">
    <div class="col-3" style="background-color: rgb(241, 162, 88);">
       <li style="font-weight: 900; font-size: 20px;">Category</li> 
            <ol>
            {% for cat in category %}
                <li><a href="{% url 'sort_by_category' cat.name %}">{{cat.name}}</a></li>
    
            {% endfor %}
            </ol>
        <li style="font-weight: 900; font-size: 20px;">Price</li>
            <ol>
                <li><a href="{% url 'sort_by_price' '0&500' %}">&lt;500</a></li>
                <li><a href="{% url 'sort_by_price' '1000&5000' %}">1000&lt; and &lt;5000</a></li>
                <li><a href="{% url 'sort_by_price' '5000&40000' %}">5000&lt; and &lt;000</a></li>

            </ol>
    </div>
<div class="col-9">
{% for p in products %}
    {{p.id}}
    <img height="" width="" src="{{p.image.url}}" alt="{{p.name}}">
    {{p.name}}
    {{p.price_inclusive}}
    <a href="{% url 'update_product' p.slug %}"> Update this product</a><br><hr><br>
    <a href="{% url 'add_to_cart' p.id %}">Add To Cart</a><br><hr><br>
{% endfor %}

    <nav aria-label="Page navigation">
        <ul
            class="pagination    "
        >

        {% if page_obj.has_previous  %}
            <li class="page-item ">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% endif %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item">
                <a class="page-link" href="#">3</a>
            </li>
            {% if page_obj.has_next  %}
            <li class="page-item">
                <a class="page-link" href="?page={{page_obj.next_page_number}}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
    
</div>
</div>
{% endblock %}