{% extends 'base.html' %}
{% load static %}
{% load total %}

{% block content %}


    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Order Tracking</h1>
                    <nav class="d-flex align-items-center">
                        <a href="{% static 'index.html' %}">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="{% static 'category.html' %}">Fashon Category</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Tracking Box Area =================-->
    <section class="tracking_box_area section_gap">
        <div class="container">
            <div class="tracking_box_inner">
                <p>To track your order please enter your Order ID in the box below and press the "Track" button. This
                    was given to you on your receipt and in the confirmation email you should have received.</p>
                <form class="row tracking_form" action="#" method="post" novalidate="novalidate">
                    <div class="col-md-12 form-group">
                        <input type="text" class="form-control" id="order" name="order" placeholder="Order ID" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Order ID'">
                    </div>
                    <div class="col-md-12 form-group">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Billing Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Billing Email Address'">
                    </div>
                    <div class="col-md-12 form-group">
                        <button type="submit" value="submit" class="primary-btn">Track Order</button>
                    </div>
                </form>
            </div>
        </div>
    </section>


    <div class="container-sm bg-primary">100% wide until small breakpoint</div>
    <div class="container-md bg-warning">100% wide until medium breakpoint</div>
    <div class="container-lg bg-success">100% wide until large breakpoint</div>
    <div class="container-xl bg-danger">100% wide until extra large breakpoint</div>
    <div class="container-xxl bg-info">100% wide until extra extra large breakpoint</div>
    <div class="container-fluid bg-info">100% wide until extra extra large breakpoint</div>

    <div class="row ">
        {% for i in 10|times %}
            <div class="col-4  gy-5" style="border: 2px solid green;">
                <div class="row ">
                    {% for j in 3|times %}
                        <div class="col-2" style="border: 2px solid rgb(11, 47, 229);">
                            <h3>i= {{i}}, j={{j}}</h3>  
                            <img class="m-1" src="/static/img/i2.jpg"  alt=""> 
                        </div>
                    {% endfor %}
                    <span class="col-1" style="border: 2px solid rgb(241, 17, 9);"></span>
                    <span class="col-4" style="text-align: justify;" style="border: 2px solid rgb(228, 228, 7);"> 
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Reiciendis natus eum amet est adipisci nemo sequi commodi provident? Atque, quam?
                    </span>
                </div>
            </div>
        {% endfor %}
    </div>

    <div style="position: relative;">
        <div style="background-color: aqua;z-index: 3;  height:100px; width:100px; position:absolute; top:10px; left:10px; "></div>
        <div style="background-color: green;z-index: 4;   height:100px; width:100px; position:absolute;  top:20px; left:20px;"></div>
        <div style="background-color: red;z-index: 5;  height:100px; width:100px; position:absolute; top:30px;left:30px; "></div>
    </div>
    <!--================End Tracking Box Area =================-->
{% endblock %}